<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwawon.mapper.NoticeMapper">

	<select id="getList" resultType="com.hwawon.domain.NoticeVO">
		select * from notices where num > 0
	</select>
	
	<select id="getOne"  resultType="com.hwawon.domain.NoticeVO">
		select * from notices where num = #{num}
	</select>
	
	<insert id="insert">
		insert into notices(title, content, writer) values(#{title}, #{content}, #{writer})
	</insert>
	
	<update id="update">
		update notices set title=#{title}, content=#{content} where num=#{num}
	</update>
	
	<delete id="delete">
		delete from notices where num = #{num}
	</delete>
	
	<select id="getPagingList" resultType="com.hwawon.domain.NoticeVO">
      	<![CDATA[
     	select * from notices
     	]]>
	
		<if test="type=='T'.toString()">
			where title like concat ('%',#{keyword},'%')
		</if>	

		<![CDATA[
		order by num desc 
  		limit #{amount} offset #{newStart}
     	]]>
		</select>
		  
		<select id="TotalCount" resultType="int">
			select count(*) from notices
			<if test="type=='T'.toString()">
			where title like concat ('%',#{keyword},'%')
			</if>	
		</select>
	
		<update id="readCount">
			update notices set readCount = readCount+1 where num=#{num}
		</update>

</mapper>